@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
}

.navbar-fixed { z-index: 9999; }

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #fcfcfc;
    color: #555;
    font-family: 'Roboto', sans-serif;
}



.nav-wrapper {
    font-size: 14px;
    font-weight: bold;
}

#form1 span {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 20px;
    color: black;
}

.box {
    color: black;
    background-color: rgba(225, 225, 225, 0.9);
    border-radius: 15px;
    padding: 25px 50px;
}


#form_regus label {
    color: black;
}


#fldregus {
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 15px;
    color: black;
}

.card .card-image .card-badge {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 0.2em 24px 0.8em 24px;
  color: #fff;
  z-index: 2;
}
.card .card-image .card-badge .material-icons {
  position: relative;
  margin-right: 8px;
  top: 7px;
}
.card .card-image .card-badge + .card-title {
  padding-bottom: 66px;
}
.card.horizontal .card-image .card-badge {
  text-align: center;
  padding: 0.2em 0;
}
.card.horizontal .card-image .card-badge .material-icons {
  display: none;
}

.card-action {
  white-space: nowrap;
}

.sidenav {
  background-color: #151515;
  color: rgba(255, 255, 255, 0.5);
}
.sidenav .subheader {
  color: rgba(255, 255, 255, 0.5);
}
.sidenav .divider {
  background-color: rgba(255, 255, 255, 0.2);
}
.sidenav li a {
  color: rgba(255, 255, 255, 0.5);
}
.sidenav li a i.material-icons {
  color: rgba(255, 255, 255, 0.5);
}


.card {
  overflow: visible;
}

.profile-pic {
  margin-top: -6em;
  z-index: 1;
  position: relative;
}

.profile-pic > img {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.controls {
  cursor: pointer;
}

.row-menu{
  position:relative;
}

.menu {
  display:none;
  right: 1em;
  top: 1.8em;
  position: absolute;
  background-color: #fff;
  padding-left: 0.8em;
  padding-right: 0.8em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.menu-list > li {
  margin-bottom: 1em;
  cursor: pointer;
}

.menu-list a {
  color: #555;
}

.menu-list a:hover {
  color: tomato;
}

.menu-list > li:last-child{
   margin-bottom: -1em;
}

.carousel{
    height: 300px;
}

.parallax-container {
    height: 400px;  
}
.content1 {background: #fff}




                                                              /* ---------- Content ---------- */

#content {
    width: 960px;
    margin: auto;
    padding-top: 40px;
}

#content_inner {
    width: 960px;
    margin: auto;
    padding-top: 0;
}

hr.cleanit {
    visibility: hidden;
    clear: both;
    margin-bottom: 20px;
}

div.cara {
    clear: both;
    width: 940px;
    height: 1px;
    background-color: #cccccc;
    margin-top: 40px;
    margin-left: 10px;
}


                                                             /* -- Web Icons (linecons) -- */
            
            .ico_paperplane:before, .ico_iphone:before, .ico_food:before, .ico_message:before, .ico_mapmark:before, .ico_shop:before {
            font-family: linecons;
            font-weight: 100;
            font-style: normal;
            font-size: 310%;
            position: absolute;
            top: 14px;
            left: 17px;
            -webkit-font-smoothing: antialiased;
            }
            
            .ico_paperplane:before {
            content: "\e01e";
            }
            
            .ico_iphone:before {
            content: "\e017";
            left: 20px;
            }
            
            .ico_food:before {
            content: "\e026";
            left: 19px;
            top: 13px;
            }
            
            .ico_message:before {
            content: "\e019";
            left: 21px;
            }
            
            .ico_mapmark:before {
            content: "\e012";
            left: 21px;
            }
            
            .ico_shop:before {
            content: "\e02a";
            left: 22px;
            }

            /* ---------- Contact ---------- */

form.formit {
    margin-left: 10px;
}

.formit input[type="text"] {
    padding: 15px 22px;
    height: 20px;
    width: 230px;
    border: 1px solid #bbbbbb;
    margin: 0px 18px 20px 0px;
    font-size: 75%;
    color: #010f5f;
    font-weight: 300;
    letter-spacing: 1px;
}

.formit textarea {
    width: 900px;
    height: 146px;
    margin-bottom: 22px;
    resize: none;
    padding: 20px;
    font-size: 90%;
    border: 1px solid #bbbbbb;
}

form.formit .button_submit {
    cursor:pointer;
    background-color: #e66e0d;
    width: 200px;
    height: 58px;
    color: #fff;
    font-size: 10pt;
    font-weight: 400;
    letter-spacing: 1px;
    border: 5px solid #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 0px 0px 0px 1px #dbdbdb;
    text-shadow: 0px 1px #d72d05;
}


.contactinfo {
    position: relative;
    float: left;
    margin-right: 40px;
}

.contactinfo .ico_mapmark:before, .contactinfo .ico_message:before, .contactinfo .ico_iphone:before {
    font-size: 140%;
    top: 0;
    left: 10px;
}

.contactinfo b {
    font-size: 110%;
    font-weight: 300;
    padding-left: 45px;
}


.capbox {
  background-color: #ffffff;
  border: #ffffff 0px solid;
  border-width: 0px 12px 0px 0px;
  display: inline-block;
  *display: inline; zoom: 1; /* FOR IE7-8 */
  padding: 8px 40px 8px 8px;
  }

.capbox-inner {
  font: bold 11px arial, sans-serif;
  color: #000000;
  background-color: #ffffff;
  margin: 5px auto 0px auto;
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  }

#CaptchaDiv {
  font: bold 17px verdana, arial, sans-serif;
  font-style: italic;
  color: #000000;
  background-color: #FFFFFF;
  padding: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  }

#CaptchaInput { margin: 1px 0px 1px 0px; width: 135px; }


#rpanel {
  width: 400px;
  height: 500px;
  background: #fff;
  position: absolute;
  top: 300px;
  overflow-y: scroll;
}