@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
}

.navbar-fixed { z-index: 9999; }

* {
	margin: 0;
	border: 0;
	padding: 0;
}

body {
	background-color: #fcfcfc;
	color: #555;
	font-family: 'Roboto', sans-serif;
}



.nav-wrapper {
    font-size: 14px;
    font-weight: bold;
}

#form1 span {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 20px;
    color: black;
}

.box {
    color: black;
    background-color: rgba(225, 225, 225, 0.9);
    border-radius: 15px;
    padding: 25px 50px;
}


#form_regus label {
	color: black;
}


#fldregus {
	font-family: "Ubuntu Condensed", sans-serif;
	font-size: 15px;
	color: black;
}

.card .card-image .card-badge {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 0.2em 24px 0.8em 24px;
  color: #fff;
  z-index: 2;
}
.card .card-image .card-badge .material-icons {
  position: relative;
  margin-right: 8px;
  top: 7px;
}
.card .card-image .card-badge + .card-title {
  padding-bottom: 66px;
}
.card.horizontal .card-image .card-badge {
  text-align: center;
  padding: 0.2em 0;
}
.card.horizontal .card-image .card-badge .material-icons {
  display: none;
}

.card-action {
  white-space: nowrap;
}

.sidenav {
  background-color: #151515;
  color: rgba(255, 255, 255, 0.5);
}
.sidenav .subheader {
  color: rgba(255, 255, 255, 0.5);
}
.sidenav .divider {
  background-color: rgba(255, 255, 255, 0.2);
}
.sidenav li a {
  color: rgba(255, 255, 255, 0.5);
}
.sidenav li a i.material-icons {
  color: rgba(255, 255, 255, 0.5);
}


.card {
  overflow: visible;
}

.profile-pic {
  margin-top: -6em;
  z-index: 1;
  position: relative;
}

.profile-pic > img {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.controls {
  cursor: pointer;
}

.row-menu{
  position:relative;
}

.menu {
  display:none;
  right: 1em;
  top: 1.8em;
  position: absolute;
  background-color: #fff;
  padding-left: 0.8em;
  padding-right: 0.8em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.menu-list > li {
  margin-bottom: 1em;
  cursor: pointer;
}

.menu-list a {
  color: #555;
}

.menu-list a:hover {
  color: tomato;
}

.menu-list > li:last-child{
   margin-bottom: -1em;
}

.carousel{
    height: 300px;
}

.parallax-container {
    height: 400px;
}

        .pb-cmnt-container {
        font-family: Lato;
        margin-top: 100px;
    }

    .pb-cmnt-textarea {
        resize: none;
        padding: 20px;
        height: 130px;
        width: 100%;
        border: 1px solid #F2F2F2;
    }

.img-rounded{
  height: 50px;
  width: 50px;
}
.card-inner{
    margin-left: 4rem;
}
.text-center{
  font-size: 2em;
}
.text-secondary-text-center{
  font-size: 1em;
}