@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
}

.navbar-fixed { z-index: 9999; }

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #fcfcfc;
    color: #555;
    font-family: 'Roboto', sans-serif;
}



.nav-wrapper {
    font-size: 14px;
    font-weight: bold;
}

#form1 span {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 20px;
    color: black;
}

.box {
    color: black;
    background-color: rgba(225, 225, 225, 0.9);
    border-radius: 15px;
    padding: 25px 50px;
}


#form_regus label {
    color: black;
}


#fldregus {
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 15px;
    color: black;
}

.card .card-image .card-badge {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 0.2em 24px 0.8em 24px;
  color: #fff;
  z-index: 2;
}
.card .card-image .card-badge .material-icons {
  position: relative;
  margin-right: 8px;
  top: 7px;
}
.card .card-image .card-badge + .card-title {
  padding-bottom: 66px;
}
.card.horizontal .card-image .card-badge {
  text-align: center;
  padding: 0.2em 0;
}
.card.horizontal .card-image .card-badge .material-icons {
  display: none;
}

.card-action {
  white-space: nowrap;
}

.sidenav {
  background-color: #151515;
  color: rgba(255, 255, 255, 0.5);
}
.sidenav .subheader {
  color: rgba(255, 255, 255, 0.5);
}
.sidenav .divider {
  background-color: rgba(255, 255, 255, 0.2);
}
.sidenav li a {
  color: rgba(255, 255, 255, 0.5);
}
.sidenav li a i.material-icons {
  color: rgba(255, 255, 255, 0.5);
}


.card {
  overflow: visible;
}

.profile-pic {
  margin-top: -6em;
  z-index: 1;
  position: relative;
}

.profile-pic > img {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.controls {
  cursor: pointer;
}

.row-menu{
  position:relative;
}

.menu {
  display:none;
  right: 1em;
  top: 1.8em;
  position: absolute;
  background-color: #fff;
  padding-left: 0.8em;
  padding-right: 0.8em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.menu-list > li {
  margin-bottom: 1em;
  cursor: pointer;
}

.menu-list a {
  color: #555;
}

.menu-list a:hover {
  color: tomato;
}

.menu-list > li:last-child{
   margin-bottom: -1em;
}

.carousel{
    height: 300px;
}

.parallax-container {
    height: 400px;
}

/*css review*/
* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0 auto; /* Center website */
    max-width: 800px; /* Max width */
    padding: 20px;
}

.heading {
    font-size: 25px;
    margin-right: 25px;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}

/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    float: left;
    width: 70%;
    margin-top: 10px;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
    .side, .middle {
        width: 100%;
    }
    /* Hide the right column on small screens */
    .right {
        display: none;
    }
}
.container {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
}

/* Clear floats after containers */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

/* Increase the font-size of a span element */
.container span {
    font-size: 20px;
    margin-right: 15px;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
  .container {
    text-align: center;
  }

  .container img {
    margin: auto;
    float: none;
    display: block;
  }
}
.center{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}